* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.buttons {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 15px;
  @media screen and (max-width: 718px) {
    flex-direction: column;
    gap: 10px;
  }
  .landing-btn {
    background: linear-gradient(90deg, #aa076b 0%, #61045f 100%);
    box-shadow: 0px 2.94px 40px rgba(40, 6, 38, 0.25);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 5px;
    width: fit-content;
    padding: 7px;
    text-decoration: none;
    color: white;
    @media screen and (max-width: 575px) {
      padding: 15px 12px 15px 12px;
    }
  }
}

.herotxt-c {
  @media screen and (max-width: 575px) {
    text-align: center;
  }
}

.hero-img {
  width: 50%;
  @media screen and (max-width: 575px) {
    margin-top: 15px;
    width: 100%;
  }
}

.learn-align {
  @media screen and (max-width: 575px) {
    text-align: center;
  }
}
