* {
    margin: 0px;
    box-sizing: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;

    button:hover {
        cursor: pointer;
    }

}

.nav-images-M {
    display: none;

    .hamburger {
        display: none;
    }

    @media screen and(max-width:766px) {
        display: block;
        height: 2.8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #fff;
        position: sticky;
        top: 0px;
        z-index: 1;
        padding: 0.3rem;

        .hamburger {
            display: block;
        }

        .prof-pic {
            margin-left: 1.8rem;
            height: 2.25rem;
            width: 2.25rem;
            border-radius: 50%;
            border: 1px gray dashed;
        }
    }
}

.burg-con {
    display: none;

    @media screen and(max-width:766px) {
        flex-direction: column;
        display: block;
        padding: 0.9374rem;
        box-shadow: 0px 5px 20px 2px black;
        position: fixed;
        top: 0px;
        right: 0;
        width: 70%;
        height: 100%;
        overflow-y: scroll;
        background-color: white;
        z-index: 3;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        animation: slideIn 0.5s ease-in-out forwards;

        @keyframes slideIn {
            from {
                transform: translateX(100%);
            }

            to {
                transform: translateX(0%);
            }
        }

        .menu {

            .icon {
                display: flex;
                align-items: center;
                padding: 1rem;
                cursor: pointer;

                span {
                    margin-left: 0.6rem;
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: rgba(111, 8, 71, 1);
                }
            }

            .icon2 {
                display: flex;
                align-items: center;
                padding: 0.6rem;
                background-color: rgba(111, 8, 71, 1);
                cursor: pointer;
                color: white;

                span {
                    margin-left: 0.6rem;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }

        .prof-det {
            display: flex;
            flex-direction: column;
            align-items: center !important;
            gap: 8px;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
            border-radius: 4px;
            width: 100%;
            color: white;
            height: 2.75rem;
            margin-bottom: 3.3rem;
            margin-top: 3.3rem;
        }
    }
}

.dash-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    border-bottom: 1px rgb(214, 210, 210) solid;
    background-color: #fff;
    z-index: 1;

    @media screen and(max-width:766px) {
        position: sticky;
        top: 2.8rem;
        background-color: #fff;
        z-index: 1;

        .search {
            margin-left: 0px !important;

            .cat {
                display: none;
            }

            button {
                display: none;
            }
        }

        .nav-images {
            display: none !important;
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-left: 200px;
        width: 50%;
        padding: 5px;

        @media screen and(max-width:766px) {
            width: 70%;
        }

        .nav-search {
            width: 25rem;
            height: 1.5rem;
            border-radius: 5px;
            border: 1px solid black;
            font-size: 12px;

            @media screen and(max-width:766px) {
                display: none;
            }
        }

        .cat {
            height: 1.5rem;
            border-radius: 5px;
            border: 1px solid black;
            font-size: 12px;
        }

        button {
            color: white;
            background-color: rgba(111, 8, 71, 1);
            height: 1.5rem;
            width: 4.8rem;
            border: none;
            border-radius: 5px;
            font-size: 12px;
        }
    }

    .nav-images {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 22.5px;

        .notify {
            display: flex;

            .count {
                height: 0.9rem;
                width: 0.9rem;
                background: #4B0B47;
                border-radius: 50%;
                margin-left: -0.6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-weight: bold;
                font-size: 10px;
            }
        }

        .prof-pic {
            height: 1.8rem;
            width: 1.8rem;
            border-radius: 50%;
            border: 1px gray dashed;
        }
    }
}

.dash-container {
    display: flex;
    justify-content: center;
    height: 93.5vh;

    @media screen and(max-width:766px) {
        height: 100% !important;
    }

    // .side-bar::-webkit-scrollbar {
    //     width: 11px;
    // }

    // .side-bar::-webkit-scrollbar-track {
    //     background: #9c96f6;
    //     border-radius: 6px;
    // }

    // .side-bar::-webkit-scrollbar-thumb {
    //     background-color: #61045F;
    //     border-radius: 6px;
    //     border: 3px solid #9c96f6;
    // }

    .side-bar {
        background-color: white;
        height: 93.5vh;
        width: 15rem;
        border-right: 1px rgb(214, 210, 210) solid;
        display: flex;
        justify-content: center;
        direction: rtl;

        @media screen and(max-width:766px) {
            display: none;
        }

        .sidebar-contents {
            width: 11rem;

            .content:hover {
                cursor: pointer;
            }

            .content {
                margin-top: 1.2rem;

                .icon {
                    font-weight: 500;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    padding: 5px;
                    direction: ltr;
                    font-size: 12px;

                    span {
                        font-weight: 500;
                    }

                    .num {
                        height: 1.2rem;
                        width: 1.8rem;
                        border-radius: 10px;
                        background-color: gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-size: 12px;
                    }

                    .num-2 {
                        height: 1.2rem;
                        width: 1.8rem;
                        border-radius: 10px;
                        background-color: gray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        font-weight: 12px;
                    }

                    .new {
                        height: 1.2rem;
                        width: 2.5rem;
                        border-radius: 10px;
                        background-color: #c3e4d9;
                        display: flex;
                        color: #10B982;
                        align-items: center;
                        justify-content: center;
                        font-size: 12px;
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1.5rem;
                    background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
                    width: 100%;
                    border: none;
                    height: 30px;
                    border-radius: 10px;
                    gap: 10px;

                    span {
                        color: #fff;
                        font-weight: 700;
                        font-size: 12px;
                    }
                }
            }

            .premium {
                width: 100%;
                height: 5rem;
                border-radius: 10px;
                border: gray 1px solid;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 29px;

                .premium-content {
                    width: 156px;

                    .go {
                        font-weight: 700;
                        color: rgba(40, 6, 38, 1);
                        font-size: 12px;
                    }

                    p {
                        font-weight: 500;
                        font-size: 10px;
                        color: #C58FB0;
                    }
                }
            }


            .log-set {
                font-weight: 500;
                margin-top: 45px;
                height: 70px;
                font-size: 12px;

                .icon {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;
                }

                .icon:hover {
                    cursor: pointer;
                }
            }

            direction: ltr;
        }
    }

    // .dash-contents::-webkit-scrollbar {
    //     display: none;
    // }

    .dash-contents {
        background-color: #FAFAFB;
        height: 93.5vh;
        width: 100%;

        @media screen and(max-width:766px) {
            height: 100% !important;
            margin-bottom: 60px;
        }

        h1 {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            margin-left: 0.5rem;
            font-weight: 700;
            font-size: 26px;

            span {
                font-size: 14px;
                font-weight: 500;
                color: rgba(113, 113, 122, 1);
                margin-top: 0.25rem;
                margin-left: 0.25rem;
            }
        }
    }
}

.icon2 {
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    direction: ltr;
    background-color: #AA076B;
    color: white;
    font-size: 12px;

    .num {
        height: 1.2rem;
        width: 1.8rem;
        border-radius: 10px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .num-2 {
        height: 1.2rem;
        width: 1.8rem;
        border-radius: 10px;
        background-color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .new {
        height: 1.2rem;
        width: 2.2rem;
        border-radius: 10px;
        background-color: #c3e4d9;
        display: flex;
        color: #10B982;
        align-items: center;
        justify-content: center;
    }
}

@media screen and(max-width:766px) {
    h1 {
        visibility: hidden;
        position: relative;
        flex-direction: column;
        align-items: unset !important;

        span {
            visibility: visible;
        }
    }

    h1:after {
        position: absolute;
        visibility: visible;
        content: "Hey David,";
        font-weight: 500;
    }
}

.downbar-contents {
    display: none;
}

@media screen and(max-width:766px) {
    .downbar-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: "none";
        position: fixed;
        bottom: 10px;
        width: 100%;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 90%;
            padding: 10px;
            background-color: rgb(201, 197, 197);
            border-radius: 20px;
            margin-left: 0.6rem;
            margin-right: 0.6rem;

            .icon2-d {
                color: #AA076B;
            }
        }
    }
}