* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

.pric-page {
  padding: 8px 0px 0px 0px;

  .pric {
    h4 {
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}

section {
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}

.pricing-are {
  height: 100% !important;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 80%;
  }

  .single-pric {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    box-shadow: 0px 2px 10px -4px #61045f, 0px 4px 6px -2px rgba(16, 24, 40, 5);
    width: 100%;
    padding: 0px 10px 0px 10px;

    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }

    .deal {
      margin-left: -30px;
      margin-top: 10px;
      transition: all 0.3s ease 0s;

      li {
        list-style: none;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      #money {
        margin-top: 20px;
        margin-bottom: 0px;
      }

      p {
        color: black;
      }

      button {
        padding: 10px 5px 5px 10px;
        width: 100%;
        background: linear-gradient(90deg, #aa076b 0%, #61045f 100%);
        border-radius: 5px;
        border: none;
        // margin-bottom: 6px;
        margin-top: 15px;

        .Getlink {
          text-decoration: none;
          color: white;
        }
      }
    }

    h6 {
      margin-top: -20px;
    }

    &:hover {
      transform: scale(1.04);
      transition: all 0.3s ease 0s;
    }
  }
}

.pric-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;

  h2 {
    text-align: center;
  }
}

li {
  text-align: center;
}
