* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.recent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.recent-con {
    width: 90%;
    margin-top: 30px;

    h2 {
        text-align: center;
        margin-bottom: 0px;
    }

    p {
        text-align: center;
        margin-bottom: 0px;
    }

    .recent-main {
        margin-top: 20px;
        height: 400px;
        border-radius: 10px;
        border: 2px rgb(85, 0, 85) solid;
        overflow-y: scroll;

        .recent-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .recent-journalz {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 95%;

                p {
                    color: gray;
                    margin-top: 15%;
                }
            }
        }
    }
}