* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

button:hover {
    cursor: pointer;
}

.reset {
    font-family: 'DM Sans', sans-serif;
}

.reset_pass {
    font-family: 'DM Sans', sans-serif;
}


.reset_pass {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .container {
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
                display: none;
            }

            .reset_con {
                margin-top: 15px;

                @media screen and (min-width:426px) {
                    width: 425px;
                }

                background: #FFFDF4;
                margin-left: 20px;
                margin-right: 20px;
                width: 100%;
                border-radius: 4px;
                height: 380px;
                border-radius: 20px;



                .reset_content {
                    margin-left: 16px;
                    margin-right: 16px;

                    .title {
                        margin-bottom: 16px;

                        .link {
                            margin-right: 34px;

                            img {
                                margin-top: 38px;
                                float: right;
                            }
                        }

                    }

                    .text_title {
                        margin-top: 53px;
                        font-weight: 700;
                        font-size: 24px;
                        color: #6F0847;
                        text-align: center;

                        p {
                            margin-bottom: 24px;
                        }
                    }

                    .form_info {
                        font-weight: 500;
                        font-size: 12px;
                        color: #303335;
                        margin-bottom: 16px;
                        text-align: center;
                    }

                    form {

                        input {
                            width: 100%;
                            height: 48px;
                            background: #FFFFFF;
                            border: 1px solid #6F0847;
                            box-shadow: 0px 4px 8px rgba(230, 230, 230, 0.3);
                            border-radius: 4px;
                            flex: none;
                            order: 1;
                            flex-grow: 0;
                            font-weight: 500;
                            font-size: 14px;
                            color: #838586;
                            margin-bottom: 24px;
                        }

                        .resetp_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            button {
                                padding: 16px 48px;
                                width: 100%;
                                background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
                                box-shadow: 0px 4px 8px rgba(57, 130, 240, 0.1);
                                border-radius: 4px;
                                flex: none;
                                order: 1;
                                flex-grow: 0;
                                border: none;
                                font-weight: 500;
                                font-size: 16px;
                                color: #FFFFFF;
                                margin-bottom: 48px;
                            }
                        }

                        .line {
                            background: #1E130C;
                            border-radius: 4px;
                            height: 1px;
                            margin-bottom: 33px;

                        }
                    }
                }
            }
        }
    }
}

@media screen and(min-width:1000px) {

    .reset_pass {
        display: block;
        height: 568px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .main {
            width: 100%;
            height: 100%;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 108px;
                margin-top: 65px;
                margin-bottom: 48px;

                .logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 22px;
                    font-family: 'Inter', sans-serif;
                    font-size: 36px;


                    p {
                        font-size: 36px;
                        color: #605046;
                        font-family: 'Inter', sans-serif;


                        span {
                            color: white;
                            font-family: 'Inter', sans-serif;

                        }
                    }
                }


                .reset_con {
                    background: #FFFDF4;
                    width: 500px;
                    border-radius: 20px;
                    height: 442px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .reset_content {

                        .title {
                            margin-bottom: 16px;

                            .link {
                                margin-left: 350px;

                                img {
                                    margin-top: 15px
                                }
                            }

                        }

                        .text_title {
                            font-weight: 700;
                            font-size: 24px;
                            color: #6F0847;
                            text-align: center;

                            p {
                                margin-bottom: 24px;
                            }
                        }

                        .form_info {
                            font-weight: 500;
                            font-size: 12px;
                            color: #303335;
                            margin-bottom: 16px;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        form {

                            input {
                                width: 100%;
                                height: 48px;
                                background: #FFFFFF;
                                border: 1px solid #6F0847;
                                border-radius: 4px;
                                flex: none;
                                order: 1;
                                flex-grow: 0;
                                font-weight: 500;
                                font-size: 14px;
                                color: #838586;
                                margin-bottom: 24px;
                            }

                            .resetp_btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                button {
                                    padding: 16px 48px;
                                    width: 311px;
                                    background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
                                    box-shadow: 0px 4px 8px rgba(57, 130, 240, 0.1);
                                    border-radius: 4px;
                                    flex: none;
                                    order: 1;
                                    flex-grow: 0;
                                    border: none;
                                    font-weight: 500;
                                    font-size: 16px;
                                    color: #FFFFFF;
                                    margin-bottom: 48px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}