* {
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.signup {
  background-image: url("/cloud.png");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  padding: 15px;
  @media screen and (max-width: 575px) {
    padding: 0px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 575px) {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      justify-content: center !important;
      padding: 0px;
    }

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 22px;
      position: sticky;
      top: 100px;
      bottom: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
      p {
        font-weight: 700;
        font-size: 36px;
        color: #605046;
        font-family: "Inter", sans-serif;

        span {
          color: white;
          font-family: "Inter", sans-serif;
          font-size: 36px;
        }
      }
    }
  }
}

.sigup_con {
  background: #fffdf4;
  border-radius: 20px;
  padding: 0px 15px 0px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 70%;
  }
  @media screen and (max-width: 576px) {
    border-radius: 0px;
    width: 100%;
  }

  .signup_content {
    width: 100%;
    padding: 30px;
    @media screen and (max-width: 425px) {
      padding: 0px;
    }
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 28px;
        font-weight: 700;
        color: #6f0847;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }

    form {
      margin-top: 20px;
      @media screen and (max-width: 575px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #6f0847;

        label {
          font-size: 12px;
          font-weight: 700;
        }
      }

      input {
        width: 100%;
        height: 48px;
        background: #ffffff;
        border: 1px solid #6f0847;
        box-shadow: 0px 4px 8px rgba(230, 230, 230, 0.3);
        border-radius: 4px;
        flex: none;
        order: 1;
        flex-grow: 0;
        font-weight: 500;
        font-size: 14px;
        color: black;
        margin-bottom: 24px;
        letter-spacing: 2px;
        @media screen and (max-width: 575px) {
          height: 42px;
        }
      }

      .signup_button {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
          padding: 16px 48px;
          width: 100%;
          background: linear-gradient(90deg, #aa076b 0%, #61045f 100%);
          box-shadow: 0px 4px 8px rgba(57, 130, 240, 0.1);
          border-radius: 4px;
          flex: none;
          order: 1;
          flex-grow: 0;
          border: none;
          font-weight: 500;
          font-size: 16px;
          color: #ffffff;
          margin-bottom: 24px;
        }
      }

      img {
        width: 100%;
        margin-bottom: 24px;
        height: 16px;
      }

      .options {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .no_account {
          p {
            font-weight: 500;
            font-size: 12px;
            color: #303335;

            .link {
              text-decoration: none;

              span {
                color: #6f0847;
              }
            }
          }
        }
      }

      .forgot_p {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .link {
          text-decoration: none;
        }

        p {
          text-align: right;
          font-weight: 500;
          font-size: 12px;
          color: #6f0847;
          margin-bottom: 0px;
        }
      }
      .terms {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        margin-bottom: 15px;
        margin-top: -18px;
        direction: rtl;
        font-size: 12px;
        input {
          width: 14px;
          height: 14px;
          margin-bottom: 0px !important;
          margin-top: 0px !important;
        }
        p {
          direction: ltr;
          margin-bottom: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
