* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

.singleJournal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .singlejournal-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
        gap: 30px;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px;

            h2 {
                font-size: 40px;
                // color: #61045F;
            }

            span {
                color: gray;
            }
        }

        .journal-con {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .buttons {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 10px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: rgba(221, 226, 228, 1);
                    gap: 10px;
                }
            }


            img {
                width: 30%;
                height: 30%;
                border: 1px solid black;
                border-radius: 5px;

                @media screen and (max-width: 475px) {
                    width: 80%;
                }
            }

            .journal-content {
                margin-top: 10px;
                width: 70%;
                height: 100%;
                padding: 10px;
                border-radius: 10px;
                border: 2px solid #61045F;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-bottom: 50px;


                @media screen and (max-width: 475px) {
                    width: 98%;
                }

                span {
                    color: gray;
                    text-align: center;

                    @media screen and (max-width: 475px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}