
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
 *{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif ;
 }
h2{
    color: #2F002E;
}
 
h3{
    color: #2F002E; 
}

p {
    color: #775C76;
}
h6{
    color: #775C76;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* styles js */
 body::before{
    display: block;
    content: '';
    overflow: hidden;
}
#nav_logo{
    color: #605046;
}

.nav-link{
    color: #605046;
    font-size: 16px;
    font-weight:600;
    margin: 12px;
}

.nav-link:hover{
    color: #1E130C;
}
#active{
    color: #9E9EA1;
    
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #AB988C ;
     }
    
     .line{
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: black;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
     }
    
    @media(min-width:768px) {
        .news-input{
            width: 50%;
        }
    }

    .hr-lines:before{
        content:" ";
        display: block;
        height: 2px;
        width: 60px;
        position: absolute;
        top: 50%;
        left: 0;
        background: #605046;
      }
      .hr-lines{
        position: relative;
      }
      .hr-lines{
        position: relative;
        /*  new lines  */
        max-width: 380px;
        /* margin: 10px auto; */
        text-align: center;
      }
                  

#works_image1{
    position: relative;

}

#cloud1{
    position: absolute;
    
    top: 2rem;
    bottom: 3rem;
    right: 3rem;
}
#works_image_1{
    position: relative;

}

@media (max-width:758px) {
 .cloud_1{
   display: none;
 }
}

#cloud_1{
    position: absolute;
    top: 13rem;
    bottom: 5rem;
    right: 3rem;
}
#works_image_2{
    position: relative;

}

#cloud_2{
    position: absolute;
    top: 4rem;
    bottom: 3rem;
    right: 0;
    left: 12rem;
    color: #cd7bca;
}


#hiworks{
   
    display: flex;
    place-content: center;
    
    
}

#hiworks_2{
width: 60%;

}



@media(max-width: 658px){
    .about{
        margin-left: 0rem;
    }
}

/* .container_{
    position: relative;
    width: 60%;
    height: 60%;
}

.img1{
    position: absolute;
    z-index: 1;
    width: 100%;
    top: -230px;
        left: 10px;
        right: 80px;
        bottom: 0px;
}
.img2{
    position: absolute;
    z-index: 2;   
    width: 100%;
    top: 10px;
    left: 20px;
} */

.price{
background-color: #f4f1e9;
margin-top: -3rem;
margin-bottom: -3rem;
    --mask:
    radial-gradient(89.44px at 50% 120.00px,#000 99%,#0000 101%) calc(50% - 80px) 0/160px 51% repeat-x,
    radial-gradient(89.44px at 50% -80px,#0000 99%,#000 101%) 50% 40px/160px calc(51% - 40px) repeat-x,
    radial-gradient(89.44px at 50% calc(100% - 120.00px),#000 99%,#0000 101%) calc(50% - 80px) 100%/160px 51% repeat-x,
    radial-gradient(89.44px at 50% calc(100% + 80.00px),#0000 99%,#000 101%) 50% calc(100% - 40px)/160px calc(51% - 40px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask); 
}

.pricing-area {
	padding: 80px 0;
}
.single-price {
	padding-bottom: 25px;
	background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
	text-align: center;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.7);
}
.single-price a {
	background: #FFFDF4;
	color: #1E130C;
	padding: 10px 48px;
	text-decoration: none;
	border-radius: 4px;
	display: inline-block;
    box-shadow: 0px 2.94px 40px rgba(30, 19, 12, 0.25);
}
.single-price:hover {
	cursor: pointer;
	box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
	transform: scale(1.04);
}
.single-price::before {
	content: "";
	width: 100%;
	height: 350px;
	background: linear-gradient(90deg, #AA076B 0%, #61045F 100%);
	position: absolute;
	top: -150px;
	left: 0;
	transform: skewY(-20deg);
}
.single-price .price-header {
	padding: 20px 20px 10px;
	text-align: left;
	position: relative;
}
.single-price .title {
	font-size: 20px;
	font-weight: 600;
	color: #F4F1E9;
	text-transform: uppercase;
	margin: 0;
}

.single-price #sub-title{
    color: #AB988C;
    font-weight: 400;
    /* font-size: 15px; */
}
.single-price .price-value {
	display: inline-block;
	width: 170px;
	height: 110px;
	padding: 15px;
	border-top: none;
	border-bottom: none;
	position: relative;
}


 .deals #money{
    color: #FFFFFF;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 40px;

}

.single-price .deals {
	padding: 70px 0 0 0;
	margin-bottom: 20px;
	list-style: none;
	text-align: center;
	transition: all 0.3s ease 0s;
}
.single-price .deals li {
	padding: 7px 0;
	font-size: 16px;
	color: #808080;
	position: relative;
    list-style-type: disc;
}


@media only screen and (max-width: 990px) {
	.single-price {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.single-price:before {
		transform: skewY(-15deg);
	}
	.single-price .title {
		font-size: 22px;
	}
}

  #learn{
    background-color:  #FFFDF4;
  }

  footer {
	background:  #F9FAFB;
	/* padding: 86px 0; */
    padding-top: 80px;
    padding-bottom: 80px;
}
.single-content {
	text-align: center;
	padding: 115px 0;
}

#footer_head{
    color: #AB988C;
}

#footer_head h5{
    font-size: 18px;
	font-weight: 700;
	color: #AB988C;

}

#footer_head ul li a{
    text-decoration: none;
	color: #AB988C;
	line-height: 1;
	font-weight: 100;
}
.single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.single-box ul {
	list-style: none;
	padding: 0;
}
.single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}


@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}

.footer-link{
    color: #AB988C;
    margin-left: 20px;
    text-decoration: none;
    font-size: 13px;
}

.footer-link:hover{
    color: #1E130C;
    margin-left: 20px;
}



/* dashboard */
.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #eee;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .sidebar-content {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
  }
  
